root = true

[*.gradle]
indent_style = space
indent_size = tab

[*.java]
indent_style = space
indent_size = tab
trim_trailing_whitespace = true
ij_continuation_indent_size = 2
ij_any_align_multiline_method_parentheses = false
ij_java_spaces_within_array_initializer_braces = true